<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tab-button tab="add-artist" routerLink="/tabs/add-artist" class="selectedItem">
      <ion-icon aria-hidden="true" name="person-add-sharp"></ion-icon>
      <ion-label style="color: hsl(103, 50%, 50%);" class="selectedItem"> Add Artists</ion-label>
    </ion-tab-button>
  </ion-toolbar>
  <ion-toolbar>
  <ion-tab-button tab="update-artists" href="/tabs/update-artists">
    <ion-icon aria-hidden="true" name="hammer-sharp"></ion-icon>
    <ion-label style="color: hsl(64, 87%, 55%);">Update and Delete Artists</ion-label>
  </ion-tab-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card class="header">
    <ion-card-content>
      <h1>Add Artist Page</h1>
      <p>Please use the form below to get started on adding artist.</p>
    </ion-card-content>
  </ion-card>
  <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="ion-padding">
    <ion-list>
      <ion-item class="ion-margin-bottom">
        <ion-input
          placeholder="Enter name"
          formControlName="name"
          label="Name:"
          labelPlacement="floating"
          [clearInput]="true"
          class="ion-text-capitalize"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="formData.get('name')?.errors?.['required'] && formData.get('name')?.touched"
          class="error-message"
          >Name is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input
          type="Date"
          placeholder="Select Date of Birth"
          formControlName="dob"
          label="DOB:"
          labelPlacement="floating"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="formData.get('dob')?.errors?.['required'] && formData.get('dob')?.touched"
          class="error-message"
          >DOB is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-select
          formControlName="gender"
          placeholder="Select Gender"
          interface="popover"
          label="Gender:"
          labelPlacement="floating"
        >
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Unspecified">Unspecified</ion-select-option>
        </ion-select>
        <ion-text
          color="danger"
          *ngIf="formData.get('gender')?.errors?.['required'] && formData.get('gender')?.touched"
          class="error-message"
          >Gender is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-select
          formControlName="artWorkType"
          placeholder="Select Artwork Type"
          interface="popover"
          label="Artwork Type:"
          labelPlacement="floating"
        >
          <ion-select-option value="painting">Painting</ion-select-option>
          <ion-select-option value="sculpture">Sculpture</ion-select-option>
          <ion-select-option value="photograph">Photograph</ion-select-option>
          <ion-select-option value="video art">Video Art</ion-select-option>
          <ion-select-option value="digital art">Digital Art</ion-select-option>
          <ion-select-option value="printmaking">Printmaking</ion-select-option>
        </ion-select>
        <ion-text
          color="danger"
          *ngIf="formData.get('artWorkType')?.errors?.['required'] && formData.get('artWorkType')?.touched"
          class="error-message"
          >Artwork Type is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input
          placeholder="Enter contact info"
          formControlName="contactInfo"
          label="Contact Info:"
          labelPlacement="floating"
          [clearInput]="true"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="formData.get('contactInfo')?.errors?.['required'] && formData.get('contactInfo')?.touched"
          class="error-message"
          >Contact Information is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input
          type="Date"
          placeholder="Select Exhibition Date"
          formControlName="exhibitionDate"
          label="Exhibition Date:"
          labelPlacement="floating"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="formData.get('exhibitionDate')?.errors?.['required'] && formData.get('exhibitionDate')?.touched"
          class="error-message"
          >Exhibition Date is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-textarea label="Special Notes" labelPlacement="floating" formControlName="specialNotes" placeholder="Any Special Notes"></ion-textarea>
      </ion-item>
      <ion-item class="ion-margin-bottom" class="flexBox">
        <ion-checkbox
        formControlName="isFeaturedArtist"
        slot="start"
        value="featured"
        (ionChange)="updateCheckboxValue($event, 'featured')"
      >Featured Artist?
      </ion-checkbox>
      <ion-checkbox
        formControlName="isRegularArtist"
        slot="start"
        value="regular"
        (ionChange)="updateCheckboxValue($event, 'regular')"
      >Regular Artist
      </ion-checkbox>
      
      </ion-item>
    </ion-list>
    <ion-button
      type="submit"
      expand="block"
      [disabled]="!formData.valid"
      class="ion-margin-top"
      color="success"
      >Add Artist

      </ion-button>

      <!--Show this modal when artist is added successfully-->
      <ion-modal #modal [isOpen]="showSuccessModal">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button class="dialogbtn"  (click)="modal.dismiss()" (click)="resetData()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
           <ion-card color="light">
            <ion-card-content>
              <h1>Artist with name {{formData.value.name}} added successfully.</h1>
              <p>You can view your added artists in the display page.</p>
              <ion-button tab="display-artists" routerLink="/tabs/display-artists" (click)="resetData()" (click)="modal.dismiss()"  expand="block" class="dialogbtn">View</ion-button>
            </ion-card-content>
           </ion-card>
          
          </ion-content>
        </ng-template>
      </ion-modal>

<!--If any error then show this modal-->
      <ion-modal #modal2 [isOpen]="showErrorModal">
        <ng-template>
          <ion-content>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button class="dialogbtn" (click)="modal2.dismiss()" (click)="resetData()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
            <ion-card color="light">
              <ion-card-content>
                <h1>Error adding artist</h1>
                <p>An error occurred while trying to add the artist. Please try again later.</p>
              </ion-card-content>
            </ion-card>
          </ion-content>
        </ng-template>
      </ion-modal>
  </form>
</ion-content>
