<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Artist</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="ion-padding">
    <ion-list>
      <ion-item class="ion-margin-bottom">
        <ion-input
          placeholder="Enter name"
          formControlName="name"
          label="Name:"
          labelPlacement="floating"
          [clearInput]="true"
          class="ion-text-capitalize"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="formData.get('name')?.errors?.['required'] && formData.get('name')?.touched"
          class="error-message"
          >Name is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input
          type="Date"
          placeholder="Select Date of Birth"
          formControlName="dob"
          label="DOB:"
          labelPlacement="floating"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="formData.get('dob')?.errors?.['required'] && formData.get('dob')?.touched"
          class="error-message"
          >DOB is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-select
          formControlName="gender"
          placeholder="Select Gender"
          interface="popover"
          label="Gender:"
          labelPlacement="floating"
        >
          <ion-select-option value="Female">Female</ion-select-option>
          <ion-select-option value="Male">Male</ion-select-option>
          <ion-select-option value="Unspecified">Unspecified</ion-select-option>
        </ion-select>
        <ion-text
          color="danger"
          *ngIf="formData.get('gender')?.errors?.['required'] && formData.get('gender')?.touched"
          class="error-message"
          >Gender is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-select
          formControlName="artWorkType"
          placeholder="Select Artwork Type"
          interface="popover"
          label="Artwork Type:"
          labelPlacement="floating"
        >
          <ion-select-option value="painting">Painting</ion-select-option>
          <ion-select-option value="sculpture">Sculpture</ion-select-option>
          <ion-select-option value="photograph">Photograph</ion-select-option>
          <ion-select-option value="video art">Video Art</ion-select-option>
          <ion-select-option value="digital art">Digital Art</ion-select-option>
          <ion-select-option value="printmaking">Printmaking</ion-select-option>
        </ion-select>
        <ion-text
          color="danger"
          *ngIf="formData.get('artWorkType')?.errors?.['required'] && formData.get('artWorkType')?.touched"
          class="error-message"
          >Artwork Type is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input
          placeholder="Enter contact info"
          formControlName="contactInfo"
          label="Contact Info:"
          labelPlacement="floating"
          [clearInput]="true"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="formData.get('contactInfo')?.errors?.['required'] && formData.get('contactInfo')?.touched"
          class="error-message"
          >Contact Information is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-input
          type="Date"
          placeholder="Select Exhibition Date"
          formControlName="exhibitionDate"
          label="Exhibition Date:"
          labelPlacement="floating"
        ></ion-input>
        <ion-text
          color="danger"
          *ngIf="formData.get('exhibitionDate')?.errors?.['required'] && formData.get('exhibitionDate')?.touched"
          class="error-message"
          >Exhibition Date is required.</ion-text
        >
      </ion-item>
      <ion-item class="ion-margin-bottom">
        <ion-checkbox
          formControlName="isFeaturedArtist"
          slot="start"
          (ionChange)="updateCheckboxValue($event)"
          >Featured Artist?
        </ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button
      type="submit"
      expand="block"
      [disabled]="!formData.valid"
      class="ion-margin-top"
      >Add Artist</ion-button
    >
  </form>
</ion-content>
