
  <ion-content  [fullscreen]="true">
    <ion-toolbar>
      <ion-title>Artist Details</ion-title>
      <ion-buttons slot="end">
        <ion-button color="red" (click)="dismissModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-list *ngIf="artist">
      <ion-item>
        <ion-label>
          <h2>{{artist.name}}</h2>
          <p>Date of Birth: {{artist.dob | date}}</p>
          <p>Gender: {{artist.gender}}</p>
          <p>Artwork Type: {{artist.artwork_type}}</p>
          <p>Contact Info: {{artist.contact_info}}</p>
          <p>Exhibition Date: {{artist.exhibition_date | date}}</p>
          <p>Special Notes: {{artist.special_notes || "-"}}</p>
          <p *ngIf="!artist">Artist details not available.</p> <!--If no artist found-->
        </ion-label>
      </ion-item>
      </ion-list>
      </ion-content>
      
 