<ion-content>
  <ion-toolbar>
    <ion-title>Need Help?</ion-title>
    <ion-buttons slot="end">
      <ion-button color="red" (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card-content>
    <h3>1-Adding an Artist:</h3>
    <br />
    Go to the "Add Artist" page.
    <br />
    Fill out the form with the required artist details, including name, musical
    genre, year of career start, etc. <br />
    Check the corresponding box to indicate whether the artist is "Regular" or
    "Featured". <br />
    Click the "Add Artist" button to save the information.
    <br />
  </ion-card-content>
  <ion-card-content>
    <br />
    <h3>2-Updating or Deleting an Artist:</h3>
    <p>
      If you wish to modify or delete an existing artist, go to the "Update and
      Delete Artist" page. <br />Select the artist from the dropdown list.<br />
      If you're editing, update the necessary fields and then click "Confirm
      Update". <br />If you're deleting, simply click "Confirm Delete".
    </p>
  </ion-card-content>
  <br />
  <ion-card-content>
    <h3>3-Viewing Artists:</h3>
    <br />
    On the "Display Artists" page, you have several options:<br />
    "Display All Artists": You will see a complete list of all added artists,
    whether regular or featured.<br />
    "Search Artist": Enter the exact name of the artist you wish to find.<br />
    "Display Featured Artists": Shows only the featured artists. <br />
  </ion-card-content>
  <ion-card-content
    ><h3>4-Privacy and Security:</h3>
    <br />Visit our "Privacy and Security" page for more information on how we
    handle your data and our commitment to your privacy and integrity.
    <br /><br />If you have any further questions or need assistance, feel free
    to contact us through the channels provided on the "Privacy and Security"
    page. Thank you for using our application!
  </ion-card-content>
</ion-content>
