<ion-item lines="none">
  <ion-label>
    <h1>Art Gallery App</h1>
  </ion-label>
</ion-item>

<ion-content [fullscreen]="true">
  <ion-card class="homeCard">
    <ion-card-header>
      <ion-card-title class="heading">Welcome to our app</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        Hello, welcome to our artist management app! Ready to explore the
        features that we have for you ?
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card class="instructions">
    <ion-card-header>
      <ion-card-title class="heading">Instructions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        <ion-text>
          <b>1. Home Page:</b><br />
          Upon opening the app, you'll see the home page with greetings and
          instructions.<br />
          <b>2. Navigation Bar:</b><br />
          At the bottom, there's a navigation bar with four buttons: - Home -
          Add Artist - Display Artist - Privacy and Security<br />
          <b>3. Add Artist Page:</b> <br />If you go to "Add Artist," you'll
          find a form to add artists. At the top, there's a bar with two
          buttons: - Add Artist - Update and Delete Artist<br />
          <b>4. Display Artist Page:</b><br />
          Clicking "Display Artist" takes you to a page showing a table with all
          added artists. You'll also find a search page to look for any artist
          by name. At the top, there are buttons for "Display Artist" "Search"
          and "Display Featured Artist." The latter functions the same as
          "Display Artist" but only shows featured artists.<br />
          <b>5. Privacy and Security Page:</b><br />
          By clicking "Privacy and Security," you'll find all information
          related to app privacy and security.<br />
        </ion-text>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="homeCard">
    <ion-card-header>
      <ion-card-title class="heading">Authors</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Ishan Giri
        <br />
        Sanish Maharjan
        <br />
        Juan Serna
      </p>
    </ion-card-content>
  </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
