<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-image"></div>
  <div class="greeting">
    <h1>Welcome to Our App!</h1>
    <p>
      Authors:
      <br />
      Ishan Giri
      <br />
      Sanish Maharjan
      <br />
      Juan Serna
    </p>
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
