h1{
  text-align: center;
  color:hsl(261, 51%, 50%);
}


.homeCard{

  background-color:  hsl(261, 51%, 50%);
  color: white;
  text-align: center;
}

.heading{
  
  color: white;
}


.instructions{
  background-color:  hsl(261, 51%, 50%);
  color: white;
  
}

