<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Privacy and Security </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- Your greetings here -->
      <p>
        <br />
        Welcome to our Privacy and Security page. We are committed to protecting
        your privacy and ensuring the security of your information. Below,
        you'll find important details about how we handle your data and maintain
        your security while using our app.
        <br />
        <br />
        <b> 1. Privacy Policy:</b>
        <br />
        Our Privacy Policy outlines how we collect, use, share, and protect your
        personal information. It describes our practices regarding data
        collection, storage, and usage.
        <br />
        <br />
        <b> 2. Data Usage:</b>
        <br />
        We collect certain user data for specific purposes. This may include
        information such as names, phone number, and other sensitive details. We
        use this data to enhance your experience within the app and provide
        personalized services.
        <br />
        <br />
        <b>3. Information Sharing:</b>
        <br />We may share user information with third parties for various
        reasons. We outline the circumstances under which data may be shared and
        provide users with options to opt out of certain data sharing practices.
        <br />
        <br />
        <b>4. User Rights:</b>
        <br />Users have rights concerning their privacy and personal data.
        These rights include the ability to access, correct, and delete personal
        information. We provide mechanisms for users to exercise these rights
        within the app.
        <br />
        <br />
        <b>5. Policy Updates:</b>
        <br />Our Privacy Policy may be updated periodically to reflect changes
        in our practices or legal requirements. Users will be notified of any
        significant changes to the policy.
        <br />
        <br />
        <b>6. Contact Us:</b>
        <br />
        If you have any questions or concerns regarding our privacy and security
        practices, please don't hesitate to contact us.
        <br />
        <br />
        Thank you for trusting us with your information. Your privacy and
        security are our top priorities.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
