<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-tab-button tab="display-artists" href="/tabs/display-artists">
      <ion-icon aria-hidden="true" name="albums-outline"></ion-icon>
      <ion-label style="color: hsl(261, 50%, 50%)">Display Artists</ion-label>
    </ion-tab-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tab-button
      tab="display-featured-artists"
      href="/tabs/display-featured-artists"
    >
      <ion-icon aria-hidden="true" name="copy-outline"></ion-icon>
      <ion-label style="color: hsla(175, 84%, 45%, 0.836)"
        >Display Featured Artists</ion-label
      >
    </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="flexBox">
    <ion-searchbar [(ngModel)]="searchTerm"></ion-searchbar
    ><ion-button (click)="searchArtist(searchTerm)">Search</ion-button>
  </div>

  <table class="custom-table">
    <thead>
      <tr>
        <th class="header-cell">Id</th>
        <th class="header-cell">Name</th>
        <th class="header-cell">Date of Birth</th>
        <th class="header-cell">Gender</th>
        <th class="header-cell"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let artist of featuredArtists" class="data-row">
        <td class="data-cell">{{ artist.artist_id }}</td>
        <td class="data-cell">{{ artist.name }}</td>
        <td class="data-cell">{{ artist.dob | date }}</td>
        <td class="data-cell">{{ artist.gender }}</td>
        <td class="data-cell">
          <ion-button
            (click)="presentArtistDetails(artist.artist_id)"
            >Details</ion-button
          >
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>
